* {
  box-sizing: border-box;
}

.toDoDetail {
  border: solid 1px black;
  border-top: none;
}

.toDoName, .toDoDescription, .toDoInfo {
  padding: 20px 20px 0px 20px;
  font-size: 16px;
}

.toDoName input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.toDoDetail .toDoDescription textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.toDoInfo .dueDate,
.priority {
  display: inline-block;
}

.toDoInfo .dueDate {
  width: 60%;
}

.toDoInfo .priority {
  width: 40%;
}

.toDoInfo input {
  width: 90%;
  margin-top: 10px;
  padding: 8px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.toDoInfo .priority select {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.toDoDetail .btnU {
  margin: 20px;
}

.toDoDetail .btnU button {
  margin: auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #4caf50;
  color: #fff;
}
