<form>
  <div class="toDoDetail">
    <div class="toDoName">
      <input type="text" readonly="readonly" value="Do homework" />
    </div>
    <div class="toDoDescription">
      <label for="description"> Description </label>
      <div>
        <textarea rows="5" id="textarea"></textarea>
      </div>
    </div>
    <div class="toDoInfo">
      <div class="dueDate">
        <label> Due Date </label>
        <input type="date" />
      </div>
      <div class="priority">
        <label> Priority </label>
        <div>
          <select>
            <option>Normal</option>
            <option>Low</option>
            <option>High</option>
          </select>
        </div>
      </div>
    </div>
    <div class="btnU">
      <button class="btnUpdate">Update</button>
    </div>
  </div>
</form>
