* {
  box-sizing: border-box;
}

.left {
  width: 35%;
  float: left;
  border: none;
}

.right {
  width: 60%;
  float: right;
  border-left: solid 3px grey;
}

@media (max-width: 766px) {
  .left {
    width: 100%;
    border-bottom: solid 3px grey;
  }

  .right {
    width: 100%;
    border: none;
  }
}
