* {
  box-sizing: border-box;
}

.newTask .title h1 {
  text-align: center;
}

.newTask .name,
.description,
.info {
  padding: 10px 20px;
  font-size: 16px;
}

.newTask label {
  font-weight: bold;
}

.newTask .name input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.newTask .description textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.newTask .info .dueDate,
.priority {
  display: inline-block;
}

.newTask .info .dueDate {
  width: 60%;
}

.newTask .info .priority {
  width: 40%;
}

.newTask .info input {
  width: 90%;
  margin-top: 10px;
  padding: 8px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.newTask .info select {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.newTask .btn {
  margin-top: 20px;
  padding: 10px 15px;
}

.newTask .btn .btnAdd {
  margin: auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  background-color: #4caf50;
  color: #fff;
}

.textWarning{
  color: #d9534f;
}
