<div class="newTask">
  <form (submit)="onSubmit(toDoForm.value)" [formGroup]="toDoForm">
    <div class="title">
      <h1>New Task</h1>
    </div>
    <div class="name">
      <input
        type="text"
        id="name"
        placeholder="Add new task ..."
        formControlName="name"
        required
      />
      <p
        *ngIf="
          toDoForm.controls.name?.errors?.required &&
          toDoForm.controls.name?.touched
        "
        class="textWarning"
      >
        Name is required
      </p>
    </div>
    <div class="description">
      <label for="description"> Description </label>
      <div>
        <textarea
          rows="5"
          id="description"
          formControlName="description"
          required
        ></textarea>
        <p
          *ngIf="
            toDoForm.controls.description?.errors?.required &&
            toDoForm.controls.description?.touched
          "
          class="textWarning"
        >
          Description is required
        </p>
      </div>
    </div>
    <div class="info">
      <div class="dueDate">
        <label> Due Date </label>
        <div>
          <input type="date" formControlName="dueDate" />
        </div>
      </div>
      <div class="priority">
        <label> Priority </label>
        <div>
          <select formControlName="priority">
            <option *ngFor="let item of priorities">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="btnAdd" [disabled]="toDoForm.invalid">Add</button>
    </div>
  </form>
</div>

<!-- <pre>
  {{ toDoForm.value | json }}
  {{ today | date: "dd/MM/yyyy" }}
</pre> -->
