<div class="toDoList">
  <div>
    <div class="title">
      <h1>To Do List</h1>
    </div>
    <div class="search">
      <input type="text" placeholder="Search ..." />
    </div>
    <div class="listToDo">
      <div class="toDoAction" *ngFor="let item of toDos; let i = index">
        <div class="toDoItem item">
          <input type="checkbox" (click)="handlerChange(item)" />
          {{ item.name }}
          <div class="btn">
            <button class="btnDetail">Detail</button>
            <button class="btnRemove" (click)="removeToDo(i)">Remove</button>
          </div>
        </div>
        <div class="todoDetail">
          <!-- <app-to-do-edit> </app-to-do-edit> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <app-bulk-action></app-bulk-action> -->
</div>
