* {
  box-sizing: border-box;
}

.toDoList .title h1 {
  text-align: center;
}

.toDoList .search {
  padding: 10px 20px;
  font-size: 16px;
}

.toDoList input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: solid 1px rgb(185, 183, 183);
  border-radius: 3px;
}

.toDoList label {
  font-weight: bold;
}

.toDoList .toDoInfo {
  border: solid 1px black;
  margin: 10px 20px;
}

.toDoList .toDoItem {
  padding: 30px 20px;
  font-size: 16px;
}

.toDoList .toDoInfo .toDoItem {
  border-bottom: solid 1px black;
}

.toDoList .toDoItem input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.toDoList .toDoItem .btn {
  display: inline-block;
  float: right;
}

.toDoList .btn button {
  margin: -10px 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
}

.toDoList .btnDetail {
  background-color: #00bcd4;
}

.toDoList .btnRemove {
  background-color: #d9534f;
}

.toDoList .listToDo {
  margin: 10px 20px;
}

.toDoList .listToDo .item {
  border: solid 1px black;
  margin-top: 20px;
}