.bulkAction {
  background-color: #e0e0e0;
  padding: 40px 20px;
  border-top: solid 1px black;
}

.bulkAction .btnBulk,
p {
  display: inline-block;
}

.bulkAction .btnBulk {
  float: right;
}

.bulkAction .btnBulk button {
  /* color: black; */
  margin: 0px 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
}

.bulkAction .btnBulk .btnBulkDetail {
  background-color: #2196f3;
}

.bulkAction .btnBulk .btnBulkRemove {
  background-color: #d9534f;
}
